.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-border-radius: 0px;
    -arrow-background-color: #2d2d2d;
    -arrow-border-width: 0px;
    -arrow-border-color: #a5a5a5;
    -arrow-base: 24px;
    -arrow-rise: 11px;
}
#panel {
    background-color: #2d2d2d;
    font-weight: bold;
    height: 1.86em;
}

#panel.unlock-screen,
#panel.login-screen {
    background-color: transparent;
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

.panel-corner {
    -panel-corner-radius: 6px;
    -panel-corner-background-color: #2d2d2d;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-border-color: rgba(255,255,255,0.8);
}

.panel-corner.lock-screen,
.panel-corner.unlock-screen,
.panel-corner.login-screen {
    -panel-corner-background-color: transparent;
    -panel-corner-border-color: transparent;
}

#appMenu {
    spinner-image: url("images/process-working.svg");
    spacing: 4px;
}

/* used for the app menu header only */
.label-shadow {
    color: rgba(0,0,0,0.5);
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #ccc;
    transition-duration: 100ms;
}

#panel.unlock-screen .panel-button,
#panel.lock-screen .panel-button,
#panel.login-screen .panel-button {
    color: #e6e6e6;
}

#panel.unlock-screen .panel-button:hover,
#panel.lock-screen .panel-button:hover,
#panel.login-screen .panel-button:hover,
#panel.unlock-screen .panel-button:active,
#panel.lock-screen .panel-button:active,
#panel.login-screen .panel-button:active,
#panel.unlock-screen .panel-button:focus,
#panel.lock-screen .panel-button:focus,
#panel.login-screen .panel-button:focus {
    color: white;
}

.panel-button:hover {
    color: white;
    text-shadow: black 0px 2px 2px;
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    border-image: url("images/panel-button-border.svg") 6 10 0 2;
    background-image: url("images/panel-button-highlight-wide.svg");
    color: white;
    text-shadow: black 0px 2px 2px;
}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
    background-image: url("images/panel-button-highlight-narrow.svg");
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
    icon-shadow: black 0px 2px 2px;
}

.panel-menu {
    -boxpointer-gap: 4px;
}

.panel-status-indicators-box,
.panel-status-menu-box {
    spacing: 2px;
}

.system-status-icon {
    icon-size: 1.09em;
    padding: 0 5px;
}

.aggregate-menu {
    width: 360px;
}

.aggregate-menu .popup-menu-icon {
    padding: 0 4px;
}

.system-switch-user-submenu-icon {
    icon-size: 24px;
    border: 1px solid #8b8b8b;
}

.system-menu-action {
    color: #e6e6e6;
    border-radius: 32px; /* wish we could do 50% */
    padding: 13px;
    border: 1px solid #5f5f5f; /* using rgba() is flaky unfortunately */
}

.system-menu-action:hover,
.system-menu-action:focus {
    color: white;
    background-color: #4c4c4c;
    border: none;
    padding: 14px;
}

.system-menu-action:active {
    color: black;
    background-color: #6f6f6f;

}

.system-menu-action > StIcon {
    icon-size: 16px;
}

.screencast-indicator {
    color: #ff0000;
}
